# SPDX-FileCopyrightText: © 2024 Stacey Adams <stacey.belle.rose [AT] gmail [DOT] com>
# SPDX-License-Identifier: Unlicense

[positionstack]
token = 1234567890abcdef1234567890abcdef
query = 90210
country = US

[adafruit]
key = 1234567890abcdef1234567890abcdef
username = lady_ada
