# SPDX-FileCopyrightText: © 2024 Stacey Adams <stacey.belle.rose@gmail.com>
# SPDX-License-Identifier: Unlicense

Adafruit_IO >= 2.6, < 3.0
adafruit-circuitpython-bmp3xx >= 1.3, < 1.4
adafruit-circuitpython-am2320 >= 1.2, < 1.3
urllib3 >= 2.0, < 3.0
requests >= 2.0, < 3.0
